*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
:root{
    --background: white;
    --question-btns: light gray;
    --text:black;
    --wrong:red;
    --correct:green;

}
body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--background);

}
body.correct{
    color: var(--correct)
}
body.wrong{
    color: var(--wrong)
}
.container{
    width: auto;
    border-radius: 5px;
    padding: 10px;

}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px, 0;
    border: 1px solid var(--question-btns), 100%, 30%;
}
#answer-buttons{
    border: 1px solid var(--question-btns), 100%, 30%;
}

.btn:hover{
    border-color: var(--text);
}
#start-btn{
    padding: 10px 20px;

}
.controls{
    display:flex;
    justify-content: center;
    align-items: center;
}